%p#notice= notice

<% for attribute in attributes -%>
%p
  %b <%= attribute.human_name %>:
  = @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>

= link_to 'Edit', <%= edit_helper(type: :path) %>
\|
= link_to 'Back', <%= index_helper %>_path
